* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}

.cv {
    background-color: darkgreen;
    text-align: center;
}

h1 {
    padding: 20px;
    margin: auto;
}

.navegacion {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor {
    margin: 0 auto;
    max-width: 1200px;
}

.navegacion a {
    padding: 1rem 2rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}
.navegacion a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}
.navegacion a:last-of-type {
    margin-bottom:0;
}

.img {
    background-image: url(/assets/img/ImagenCv.jpg.jpg);
    height: 220px;
    width: 220px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

h2 , h3 {
    text-align: center;
    padding-top: 30px;
}

.SM { 
    font-size: 16px;
    text-align: center;
    padding-top: 30px;
}

.txt {
    padding-top: 230px;
    text-align: center;
}

.datos {
    font-size: 16px;
    text-align: center;
    padding-top: 80px;
}

.Educ {
   text-align: center;
   font-size: 16px;
}

.galeria {
    width: auto;
    height: 380px;
    background-color: #000000;
}

.galeria_imagenes {
    width: 25%;
    height: 240px;
    padding-top: 65px;
    margin-left: 20px;
    padding-left: 65px;
}

.galeria_txt {
    text-align: center;
}

footer {
    height: 3em;
    line-height: 3em;
    background-color: darkgreen;
    color: white;
    text-align: center;
    font-weight: 900;
}


